.basic-button {
  background-color: var(--card-bg);
  border-radius: 5px;
  border-width: 0;
  color: var(--text-secondary);
  cursor: pointer;
  font-size: var(--text-primary-size);
  height: 50px;
  width: 150px;
  transition: all 0.5s;
}

.basic-button:hover {
    box-shadow: 0 0 10px 0 var(--shadow);
    transition: all 0.5s;
}