.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--card-bg);

    /* TODO change to something better */
    width: 65%;
    height: 25%;
    
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.quiz-container > div {
    display: flex;
    align-items: center;
}

.quiz-container .question {
    font-size: var(--primary-text-size);
    flex: 2;
}

/* TODO needs to add hidden ability */

.quiz-container .hint {
    flex: 1;
    color: var(--text-secondary);
    font-size: var(--misc-text-size);
}

.quiz-container .timer {
    flex: 1;
    font-size: var(--secondary-text-size);
}

.timer .circle-background {
    background-color: var(--background);
}

/* TODO will move */

.quiz-container .options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    width: 90%;
}

.options .option {
    width: 40%;
    font-size: var(--secondary-text-size);
}