.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--card-bg);
    border-radius: 15px;

    /* TODO change to something better */
    width: 65%;
    height: 25%;

    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}

.quiz-container>div {
    display: flex;
    align-items: center;
}

.quiz-container .question {
    font-size: var(--primary-text-size);
    flex: 2;
}

.quiz-container .hint {
    flex: 1;
    color: var(--text-secondary);
    font-size: var(--misc-text-size);
    font-weight: bold;
}

.hint.hidden {
    visibility: hidden;
}

/* Timer */
.quiz-container .timer {
    flex: 1;
    font-size: var(--secondary-text-size);
}

.timer .circle-background {
    background-color: var(--background);
}

/* Options */
.quiz-container .options-container {
    flex: 5;
    width: 90%;
}

.quiz-option {
    width: 40%;
}