body {
    margin: 0;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

:root {
    --text-primary-size: 20px;
    --text-secondary-size: 16px;
    --text-misc-size: 14px;
}

/* Color themes */

/* light theme */
:root {
    --background: rgb(230 230 230);
    --card-bg: rgb(218 218 218);
    --text-primary: black;
    --text-secondary: royalblue;
    --border: #589eff;
    --shadow: #2f3070c4;
}

/* dark theme */
[data-theme='dark'] {
    --background: black;
    --card-bg: rgb(51 51 51);
    --text-primary: white;
    --text-secondary: lightgray;
    --border: silver;
    --shadow: #706f4aa8;
}