body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

:root {
    --primary-text-size: 18px;
    --secondary-text-size: 14px;
    --misc-text-size: 12px;
}

/* Color themes */

/* light theme */
:root {
    --background: rgb(230 230 230);
    --card-bg: rgb(218 218 218);
    --text-primary: black;
    --text-secondary: royalblue;
}

/* dark theme */
[data-theme='dark'] {
    --background: black;
    --card-bg: rgb(51 51 51);
    --text-primary: white;
    --text-secondary: lightgray;
}